CompileFlags:
    Add: [-Wc++17-extensions, --std=c++20, -D_DEBUG, -Wall, -Wno-unused-const-variable, -I/Users/liuxueyang/cpp/header, -I/Users/lxueyang/cpp/header]
Diagnostics:
  UnusedIncludes: None
