*.xcodeproj/
*.exe
*~
input.txt
# .cph/
*.bin
*.dSYM/
*__tests

# Ignore all files in any output directory
**/output/*

# But include input_*.txt files in any output directory
!**/output/input_*.txt

